html{
    overflow: hidden;
}

@font-face {
    font-family: Roboto-Bold;
    src: url(../fonts/roboto-bold.ttf);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(../fonts/roboto-regular.ttf);
}

body{
    background: linear-gradient(
                     rgba(20,20,20, .6), 
                     rgba(20,20,20, .6)),
                     url("../img/sub1.jpg");
    font-family: Roboto-Regular;
}
.login-container{
    display:grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 9fr 3fr 3fr 3fr 1fr;
    grid-template-rows: 3fr 17fr;
    grid-template-areas:
        ". title fill fill fill fill"
        ". content content content content content"
}

.filler{
    grid-area: fill;
    margin-top: -5%;
    background-color: rgba(17, 17, 17, 1);
}

.header{
    grid-area: title;
    font-family: Roboto-Bold;
    color:white;
    font-size: 40px;
    padding-top: 5%;
}

.content{
    grid-area: content;
    display:grid;
    grid-template-columns: 8fr 1fr 11fr;
    grid-template-rows: auto;
    grid-template-areas:
        "description . loginArea"

}

.content{
    grid-area: content;
    display:grid;
    grid-template-columns: 9fr 10fr;
    grid-template-rows: auto;
    grid-template-areas:
        "description loginArea"
}

.loginArea{
    grid-area: loginArea;
    background-color: rgba(17, 17, 17, 1);
    align-self: stretch;
    margin-bottom: -5%;
}

.login-form{
    background-color: white;
    box-sizing: border-box;
    width: 60%;
    min-height: 300px;
    margin-left: 22%;
    padding-left: 5%;
    padding-top: 2%;
    margin-top: 10%;
    border-radius: 10px;
}

input.form-control{
    height: 35px;
    box-sizing: border-box;
    width: 90%;
    margin-bottom: 7%;
    border: none;
    border-bottom: 1px solid gray;
    padding-left: 5%;
}

p.welcome{
    margin-top: -5%;
    color: gray;
    font-size: 0.9em;
    margin-bottom: 5%;
}
button.btn-submit{
    background-color: rgba(17, 17, 17, 1);
    color: white;
    font-family: Roboto-Regular;
    font-size: 1em;
    border: none;
    height: 35px;
    width: 150px;
    cursor: pointer;
}

.description{
    grid-area: description;
    color: white;
    margin-top: 10%;
    box-sizing: border-box;
    width:80%;
    height:300px;
}

.description-content{
    text-align: justify;
    text-justify: inter-word;
    box-sizing: border-box;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}
.registerlink{
    margin-left: 15%;
}

input
{
    font-size:1em;
    font-family: Roboto-Regular;
}

.do-btn{
    position: fixed;
    background-color: rgba(17, 17, 17, 1);
    color: white;
    font-family: Roboto-Regular;
    font-size: 1em;
    border: none;
    height: 35px;
    width: 150px;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 75%;
    margin-top: 47%;
}

.do-btn > a {
    color: white;
    text-decoration: none;
}

.create:hover > a, .create:hover{
    background-color: antiquewhite;
    color: black;
}

