html{
    overflow: auto !important;
}
body{
    background: none !important;
    background-color: whitesmoke !important;
    margin: 0;
}

.main-container{
    display:grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 8fr 4fr 2fr 2fr 2fr 1fr;
    grid-template-rows: 1fr 19fr;
    grid-template-areas:
        "websiteName websiteName util util util util util"
        "maincontent maincontent maincontent maincontent maincontent maincontent maincontent"
}

.websiteName{
    grid-area: websiteName;
    color: white;
    font-size: 1.2em;
    background-color: rgba(17,17,17,1);
    height:40px;
    padding-left: 5%;
    padding-top: 2%;
}



.main-content{
    grid-area: maincontent;
    margin-top: 7px;
    display: grid;
    grid-template-columns: 4fr 12fr 4fr;
    grid-column-gap: 7px;
    grid-template-rows: auto;
    grid-template-areas:
        "subsection1 mainsection subsection2"
}

.subsection1{
    grid-area: subsection1;
    box-sizing: border-box;
    padding-left: 2%;
}

.mainsection{
    grid-area: mainsection;
}

.subsection2{
    grid-area: subsection2;
}

.utilities{
    grid-area: util;
    color: white;
    background-color: rgba(17,17,17,1);
    display: grid;
    font-size: 1.2em;
    padding-top: 2%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        ". . . profile feedlink logout"
}

.util > a {
    color: white;
    text-decoration: none;
}

.profile-util{
    grid-area: profile;
}

.feed-util{
    grid-area: feedlink;
}

.logout-util{
    grid-area: logout;
}